main {
    padding: 10px;
}

h2 {
    font-family: 'Brush Script MT', cursive, serif;
    color: darkslategray;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategray;
    font-size: larger;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: black;    
}

audio {
    position: relative;
    left: 50 px;
}

video {    
    align-self: center;    
}

aside {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    color: black;   
}

video {

    justify-content: center;
}

.nav-link {
    font-family: 'Brush Script MT', cursive, serif;
    font-size: larger;    
}

.accordion-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: black;   
}

.container-fluid {
    background-color: rgb(212, 179, 212)
}

.accordion-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.accordion-button {
    background-color: rgba(114, 114, 35, 0.911);
    color: white;
}

.contact {
    height: 50px;
    width: 50px;
}

.profile {
    align-self: center;
    align-items: center;
}

.carrousel-text {
    color: white;
}

#name {
    font-family: 'Brush Script MT', cursive, serif;
    font-size: x-large;
}

#navBar {
    background-color: rgba(221, 221, 138, 0.911);
}

#footer {
    background-color: rgba(221, 221, 138, 0.911);
}

#testIcon {
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    height: 200px;
    width: 210px;  
}

#personalFoto {
    align-self: center;
}
